html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenidor {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #70e2ff80, 20%, rgb(185, 146, 107, 0.95)),
    url(../assets/img/pexels-kampus-production-5935240.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  font-weight: bolder;
}

.meteo {
  height: 8rem;
  line-height: 8rem;
  align-self: start;
  margin-left: 4rem;
  font-size: 1.5rem;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenidor-main {
  width: 60vw;
  height: 70vh;
  background-color: #f0f0f0cc;
  box-shadow: .5rem .5rem 3rem #000;
  border-radius: 1rem;
  padding: 5rem 8rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.titol {
  font-size: 2.5rem;
}

#text-acudit {
  font-size: 1.5rem;
}

.contenidor-botons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contenidor-botons-puntuacio {
  display: flex;
  justify-content: space-around;
  height: 3rem;
}

.boto-puntuacio {
  border: none;
  background-color: transparent;
  font-size: 2.8rem;
  cursor: pointer;
  transition: all .2s;
}

.boto-puntuacio:active {
  transform: scale(1.6);
}

.boto-acudit {
  padding: 2rem 3.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  background-color: #06b8b8;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.boto-acudit:hover {
  background-color: #029494;
  outline: .3rem solid #000;
}

.boto-acudit:active {
  background-color: #06b8b8;
}